{% extends "analysis.html" %}


{% block analysis %}
<div class="row">
    <div class="col-md-3">
        <label for="samples">Samples:</label>
        <input type="range" name="samples" value="1000"
            min="1000" max="10000" step="1000" />
    </div>
    <div class="col-md-9">
        <button class="btn btn-primary" data-action="run">Run</button>
    </div>
</div>
<div style="font-size: 400%"><i>π = <span id="pi">0.0 ± 1.0</span></i></div>
{% end %}


{% block footer %}
<script>
    var d = new Databench.Connection();
    Databench.ui.wire(d);
    d.connect();

    d.on({data: 'pi'}, function(pi) {
        document.getElementById('pi').innerHTML = pi.estimate.toFixed(3)+' ± '+pi.uncertainty.toFixed(3);
    });
</script>
{% end %}
