include README.rst HISTORY.rst LICENSE
recursive-include databench/templates *.html
recursive-include databench/static *.css *.js *.js.map *.ico *.svg
recursive-include databench/analyses_packaged *
recursive-exclude databench/analyses_packaged *.pyc .DS_Store
recursive-include databench/tests/analyses *
recursive-exclude databench/tests/analyses *.pyc .DS_Store
recursive-include databench/tests/analyses_broken *
recursive-exclude databench/tests/analyses_broken *.pyc .DS_Store
