{% from 'macros.html' import include_md %}
{% extends "base.html" %}


{% block title %}dummypi_py{% endblock %}


{% block content %}
<h1>
    dummypi_py
    <small><i>π = <span id="pi">0.0 ± 1.0</span></i></small>
</h1>
[[ include_md('dummypi_py/README.md') ]]

<hr />
<div class="row">
    <div class="col-md-3">
        <label for="samples">Samples:</label>
        <input type="range" name="samples" value="1000"
            min="100" max="10000" step="100" />
    </div>
    <div class="col-md-9">
        <button class="btn btn-primary" data-signal-name="run">Run</button>
    </div>
</div>

<hr />
<pre id="log"></pre>
{% endblock %}


{% block footerscripts %}
<script>
	var databench = Databench();

	databench.on('status', function(msg) {
		$('#pi').text(msg['pi-estimate'].toFixed(3)+' ± '+msg['pi-uncertainty'].toFixed(3));
	});
</script>
{% endblock %}
