body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    padding: 0 0 40px 0;
}
@media (min-width: 768px) {
    body { padding: 0 4% 40px 4%; }
}

a {
    color: #428bca;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.text-muted {
    color: #999;
}




.d-header {
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}
.d-header a:hover {
    text-decoration: none;
    color: #428bca;
}
.d-header img {
    height: 26px;
    margin-right: 0.5em;
    vertical-align: baseline;
}

.d-content {
    margin: 40px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.1;
}

p {
    max-width: 60em;
}

.d-footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.d-footer ul {
    list-style-type: none;
    padding: 0;
}




.d-boxes {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: -10px;
}

.d-box {
    flex: 1 0 350px;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.d-analysis-thumbnail {
    float: left;
    max-width: 150px;
    max-height: 100px;
    margin-right: 20px;
}
