{% extends "templates/analysis.html" %}


{% block readme %}{% end %}


{% block analysis %}
{% end %}


{% block footer %}
<script>
    // Initialize Databench's frontend library.
    var databench = Databench();

    // Interact with the backend. Listen for the 'ready' signal like this:
    databench.on('ready', function(data) {
        $('#backend_ready_msg').text(data);
        console.log('Ready message received and set as the text of element '+
                    '#backend_ready_msg. Now sending message back to backend.')

        // Send something to the backend in return:
        databench.emit('got_ready_signal', 'thanks for sending ready signal');
    });
</script>
{% end %}
