{% extends "analysis.html" %}


{% block head %}
<link rel="stylesheet" href="/_static/databench.css?version={{ databench_version }}">
{% end %}


{% block analysis %}
<div class="row">
    <div class="col-md-3">
        <label for="samples">Samples:</label>
        <input type="range" id="samples" value="1000"
            min="100000" max="900000" step="100000" />
    </div>
    <div class="col-md-9">
        <button class="btn btn-primary" data-action="run">Run</button>
    </div>
</div>
<div style="font-size: 400%">
    <em>π = <span id="pi">0.0 ± 1.0</span></em>
</div>
{% end %}


{% block footer %}
<script src="/_static/databench.js?v={{ databench_version }}"></script>
<script src="/dummypi_py/static/analysis.js?v={{ version }}"></script>
{% end %}
