<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{{ globals().get('title', 'Databench') }}{% end %}</title>
        <meta name="description" content="{% block description %}globals().get('description', ''){% end %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="/_static/favicon.ico">
        <link rel="stylesheet" href="/_static/databench.css?version={{ databench_version }}">
        {% block databench_head %}{% end %}
        {% block head %}{% end %}
    </head>
    <body>
        {% block body %}
        <div class="d-container">
            <div class="d-header">
                <h2><a href="/" class="text-muted">
                    {% block headerlogo %}
                        <img src="{{ logo_url }}" />{{ title }}
                    {% end %}
                </a></h2>
            </div>

            <div class="d-content" id="d-content">
                {% block content %}
                {% end %}
            </div>

            <div class="d-footer">
                <div class="text-right-sm">
                    Read the <a href="http://databench.trivial.io/v0.4/">Databench Docs</a>.
                    <!-- This is version {{databench_version}}. -->
                </div>
            </div>
        </div>
        {% end %}

        {% block databench_footer %}{% end %}
        {% block footer %}{% end %}
    </body>
</html>
