<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{{ globals().get('title', 'Databench') }}{% end %}</title>
        <meta name="description" content="{% block description %}{{ globals().get('description', '') }}{% end %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="{% block favicon_url %}{{ globals().get('favicon_url', '') }}{% end %}">
        <link rel="stylesheet" href="/_static/databench.css?version={{ databench_version }}">
        {% block databench_head %}{% end %}
        {% block injection_head %}{% raw injection_head %}{% end %}
        {% block head %}{% end %}
    </head>
    <body>
        {% block body %}
        <div class="{% block d-container-class %}d-container{% end %}">
            <div class="d-header">
                <h2 id="d-title"><a href="/" class="text-muted">
                    {% block headerlogo %}
                        <img id="d-logo" src="{{ logo_url }}" />{{ title }}
                    {% end %}
                </a></h2>
            </div>

            <div class="d-content" id="d-content">
                {% block content %}
                {% end %}
            </div>

            {% block page_footer %}
            <div class="d-footer">
                <div class="text-right-sm">
                    {% if footer_html is None %}
                        Read the <a href="http://databench.trivial.io/v0.4/">Databench Docs</a>.
                    {% else %}
                        {% raw footer_html %}
                    {% end %}
                    <!-- This is Databench version {{databench_version}}. -->
                </div>
            </div>
            {% end %}
        </div>
        {% end %}

        {% block databench_footer %}{% end %}
        {% block injection_footer %}{% raw injection_footer %}{% end %}
        {% block footer %}{% end %}
    </body>
</html>
