{% extends "base.html" %}


{% block title %}Analyses{% end %}


{% block content %}
{% if info['description'] %}
    {{ info['description'] }}
    <br />
{% end %}
<h1>List of Analyses</h1>
<div class="row">
    {% for a in [aa for aa in analyses if aa.show_in_index] %}
    <div class="col-md-6">
        <a href="/{{a.name}}/">
        <div class="panel panel-default">
            <div class="panel-body">
                {% if a.thumbnail %}
                    <img src="/{{a.name}}/static/{{a.thumbnail}}" class="img-thumbnail analysis-thumbnail" />
                {% end %}
                {{a.name}}{% if a.description %}<span class="text-muted">: {{ a.description }}</span>{% end %}
            </div>
        </div>
        </a>
    </div>
    {% end %}
</div>
<script>
    console.log('--- databench v{{databench_version}} ---');
    console.log('Analyses author: {{info["author"]}}');
    console.log('Analyses version: {{info["version"]}}');
    console.log('')
</script>
{% end %}
