{% extends "base.html" %}


{% block head %}
<link rel="stylesheet" href="/_static/databench.css?version={{ databench_version }}">
{% end %}


{% block content %}
{% if description_html %}{% raw description_html %}{% end %}

<h1 id="d-list-of-analyses">List of Analyses</h1>
<div class="d-boxes">
    {% for a in [aa for aa in analyses if aa['show_in_index']] %}
    <a class="d-box" href="/{{a['name']}}/">
    {% if a['thumbnail'] %}
        <img alt="analysis thumbnail" src="/{{a['name']}}/static/{{a['thumbnail']}}" class="d-analysis-thumbnail" />
    {% end %}
    {{a['title']}}{% if a['description'] %}<span class="text-muted">: {{ a['description'] }}</span>{% end %}
    </a>
    {% end %}
</div>
{% end %}


{% block footer %}
<script>
    console.log('Databench v{{databench_version}}, analyses v{{version}}');
</script>
{% end %}
