{% extends "base.html" %}


{% block title %}Analyses{% endblock %}


{% block content %}
{% if description %}
    [[ description|markdown ]]
    <br />
{% endif %}
<h1>List of Analyses</h1>
<div class="row">
    {% for a in analyses if a.show_in_index %}
    <div class="col-md-6">
    	<a href="/[[a.name]]/">
    	<div class="panel panel-default">
	    	<div class="panel-body">
                {% if a.thumbnail %}
                    <img src="/[[a.name]]/static/[[a.thumbnail]]" class="img-thumbnail analysis-thumbnail" />
                {% endif %}
	    		[[a.name]]{% if a.description %}<span class="text-muted">: [[ a.description ]]</span>{% endif %}
	    	</div>
    	</div>
    	</a>
    </div>
    {% endfor %}
</div>
<script>
    console.log('--- databench v[[databench_version]] ---');
    console.log('Analyses author: [[analyses_author]]');
    console.log('Analyses version: [[analyses_version]]');
    console.log('')
</script>
{% endblock %}
